extends baseEmail

block content
  p Hi #{firstName},
  p It seems like you forgot password. Don't worry be happy
  p Click on button bellow to reset your password
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset Password
  p If you didn't forget password, ignore this email